# Réseau
MY_IP=XX.XX.XX.XX                    # Remplacez par votre IP publique (pour les règles de sécurité)

# VM
PREFIX=projet                        # Préfixe pour les ressources Azure
COMPUTER_NAME=server                 # Nom de la machine virtuelle
ADMIN_USERNAME=testadmin             # Nom d'utilisateur pour la VM
ADMIN_PASSWORD=password              # Mot de passe pour la VM
SSH_KEY_PATH=~/.ssh/key.pub          # Chemin vers la clé privée SSH

# Application
APP_PORT=8000                        # Port sur lequel l'application API sera accessible
APP_USER=apiuser                     # Nom d'utilisateur pour l'application (créé sur la VM)

# Database
DB_NAME=apidatabase                  # Nom de la base de données
DB_USER=dbuser                       # Nom d'utilisateur pour la base de données
DB_PASSWORD=Password32               # Mot de passe pour la base de données (doit répondre aux exigences de complexité d'Azure)
